.topbar {
    .tabs {
        display: flex;
        align-items: center;
    }

    .top-button {
        display: flex;
        font-size: 24px;
        padding: 12px 12px;
        background-color: #29A073;
        align-items: center;
    }
}

.table-wrapper {
    width:  100%;
}