
.full-width {
  width: 100%;
}


.page-heading-detail-name {
  margin-top: 97px;
  margin-bottom: 100px;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  @media (max-height : 800px) {
    font-size: 25px;
    margin-top: 77px;
    margin-bottom: 80px;
  }
}
