.dark {
    background-color: #D9D9D9;

}

ant-table-cell-row-hover {
    display: none;
}

.filter-container {
    position: relative;
}

.filter-row {
    margin: 12px;
}

.filter-option {
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #ccc;
    top: 10px;
    right: 0;
    width: 600px;
    z-index: 1;
    padding: 16px;
    border-radius: 20px;
    @media (max-height : 800px) {
        padding: 10px;
        
    }
}

.text-center {
    margin: 0;
    text-align: center;
}

.page-heading-income {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 52px;

    &-name {
        margin-top: 0;
        color: #000;
        font-family: 'Inter';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-button {
        padding: 12px 21px !important;
        width: 100%;
        height: 100%;
        background-color: #29A073;
        color: #FFF;
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    @media (max-height : 800px) {
        margin-top: 56px;
        margin-bottom: 36px;
        &-name {
            font-size: 25px;

        }
        &-button {
            font-size: 19px;
            padding : 8px 16px;
            line-height: 19px;

        }
    }
}

