.dark {
    background-color: #D9D9D9;

}



.table-wrapper {
    font-size: 22px;

    .action-button {
        border: none;
        // opacity: 0;
        margin: 0px 17px;
        pointer-events: auto;
    }

    .light {
        background-color: #fff;
        .ant-table-cell-row-hover {
            background-color: #fff !important;
        }

    }

    .dark {
        background-color: #D9D9D9;
        .ant-table-cell-row-hover {
            background-color: #D9D9D9 !important;
        }
    }


}

p.m-0 {
    margin: 0;
}

.ant-table-row.ant-table-row-level-0 {
    max-height: 62px !important;
}

.ant-table-cell-row-hover {
    background-color: unset;
}